@model IEnumerable<ASP.NET_MVC.Models.Tasks>

@{
    ViewData["Title"] = "Index";
    var tasks = ViewData["Questions"] as List<string>;
    var flag = (Boolean)ViewData["Flag"];
}

<h1>Index</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="accordion" id="accordion">
        @foreach (var task in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading@task.Id">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#id-@task.Id" aria-expanded="false" aria-aria-controls="id-@task.Id">
                        @task.Question
                    </button>
                </h2>
                <div id="id-@task.Id" class="accordion-collapse collapse" data-bs-parent="accordion" aria-labelledby="heading@task.Id">
                    <div class="accordion-body">
                        @task.Answer
                        <a asp-action="Edit" asp-route-id="@task.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@task.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@task.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
} else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Question)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (@tasks.Count() > 0)
            {
                @foreach (var item in @tasks)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => @item)
                        </td>   
                    </tr>
                }
            }
            else
            {
                <td>Brak zadan</td>
            }
        </tbody>
    </table>
    if (flag){
        <a class="btn btn-primary" href="@Url.Action("Losuj","Tasks")">Losuj</a>
    } else
    {
        <a class="btn btn-primary disabled">Losuj</a>
    }
}
